html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-container {
  background-color: #47bcff;
  color: #FFF;
}
.logo {
  font-family: 'Handlee', cursive;
  font-size: 2.5rem;
}

#chat {
  margin: auto;
  padding: 20px;
  height: 100%;
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  width: 100%;
  border: 1px solid #ddd;
  height: 50px;
  padding: 0 20px;
  font-size: 14px;
}

button {
  width: 100%;
  height: 50px;
  font-size: 14px;
  background: #069;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: #FFF;
  margin-top: 10px;
}

.messages {
  width: 100%;
  height: 400px;
  margin: 20px 0;
  border: 1px solid #ddd;
  padding: 20px;
  overflow-y: scroll;
}

#top-menu {
  height: 10%;
}

.navbar.navbar-light {
  display: block;
  margin-top: -1.1%;
  background-color: rgb(155, 155, 155);
}

#searchbar {
  margin-left: 30%;
  position: relative;
}

#searchinput {
  width: 700px;
}

.form-inline .btn {
  width: 10%;
}

.btn.newproduct {
  margin-left: -100%;
}

.product-name .display-4 {
  margin: 30px 0px 35px 300px;
  font-size: 2.1rem;
}

.product-img {
  width: 600px;
  margin-left: 300px;
  position: relative;
}

.product-price {
  font-size: 1.5rem;
  margin: 30px 0px 35px 300px;
}

.product-details {
  font-size: 1.2rem;
  margin: 30px 0px 35px 280px;
}

.product-info{
  display: flex;
}

.compra-info {
  height: 30%;
  width: 25%;
  margin-left: 100px;
  margin-top: 1.2%;
}

.compra-info .col {
  margin-top: 90px;
  margin-left: 10px;
}

.btn.chat {
  width: 110px;
  margin-left: 90px;
}

.btn.buy {
  height: 70px;
  width: 300px;
}

.nome-produto-link {
  color: black;
  text-decoration: none;
  background-color: transparent;
}

.img-thumbnail {
  max-width: 600px !important;
}

.hidden {
  display: none;
}